html {
	background-color: #BFBFBF;
	font-size: 15px; /* px staat voor "pixels", de standaard lettergrote is nu dus 15 pixels hoog  */
	font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
	color: #FF9100;
}


#navBar {
	Background-color: #CCC;
	border-bottom: #999;
	border-left: #999;
	border-width: 0 0 thin thin;
	border-style: none none groove groove;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	padding: 10px 10px 10px 10px;
	width: 175px;
	line-height: 1.5em;
	
}
	


h1 {
	font-size: 60px;
	text-align: center;
	color: #FF9100;
	margin: 0;
	padding: 20px 0;
	text-shadow: 1px 1px 1px black;
}


h2 {
	font-size: 40px;
	text-align: center;
	color: #3B0F66;
	margin: 0;
	padding: 20px 0;
	text-shadow: 1px 1px 1px black;
}


body {
  width: 750px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}


p {
	color: #FF9100;
}

img {
  display: block;
  margin: 0 auto;
}








