html {
	background-color: #BFBFBF;
	font-size: 15px; /* px staat voor "pixels", de standaard lettergrote is nu dus 15 pixels hoog  */
	font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
	color: #FF9100;
}


#navBar {
	Background-color: #CCC;
	border-width: 0 0 thin thin;
	border-style: none none groove groove;
	display: block;
	float: left;
	width: 175px;
	line-height: 1.5em;
	width: 120 px;
	margin: -120px 30px 50px auto;
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border: 5px solid black;
	border-color: #671BB3;
	
}
	


h1 {
	font-size: 60px;
	text-align: center;
	color: #FF9100;
	margin: 0;
	padding: 20px 0;
	text-shadow: 1px 1px 1px black;
}


h2 {
	font-size: 40px;
	text-align: center;
	color: #671BB3;
	margin: 0;
	padding: 20px 0;
	text-shadow: 1px 1px 1px black;
}


body {
	/*width: 750px;
	*/
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;
	border: 5px solid black; /*Hoe dik, en welke kleur de rand is*/
	height: auto; /*hoever het hoofd gedeelt naar beneden gaat*/
}

/*#content {
	width: 750px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}	*/
	


p {
	width: 750px;
	color: #FF9100;
	margin: 0px 120px 50px auto; /*de eerste is de afstand van boven, de tweede de afstand van links, de derde is de afstand onder de tekst, en de derde is de afstand van rechts*/
}

address {
	width: 800px;
	margin: 250px 50px 50px auto;
}
	
	

img {
	display: block;
	margin: 0 auto;
}

.positioned {
  position: absolute;
  background: yellow;
  top: 275px;
  left: 30px;
}







