html {
	background-color: #BFBFBF;
	font-size: 15px; /* px staat voor "pixels", de standaard lettergrote is nu dus 15 pixels hoog  */
	font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
	color: #FF9100;
}

#navBar {
	Background-color: #CCC;
	border-width: 0 0 thin thin;
	border-style: none none groove groove;
	display: block;
	float: left;
	width: 175px;
	line-height: 1.5em;
	margin: 0px 30px 50px auto;
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border: 5px solid black;
	border-color: #671BB3
	
}


h1 {
	font-size: 60px;
	text-align: center;
	color: #FF9100;
	margin: 0;
	padding: 20px 0;
	text-shadow: 1px 1px 1px black;
}


body {
	margin: 0px auto;
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	height: 635px; /*hoever het hoofd gedeelt naar beneden gaat*/
}



p {
	text-align: center;
	color: #FF9100;
}

img {
  display: block;
  margin: 0 auto;
}